
cbdc_service/cbdc_service/obj/Debug/net7.0/cbdc_service.GeneratedMSBuildEditorConfig.editorconfig
cbdc_service/.vs/cbdc_service/FileContentIndex/4a417bbf-7470-4b34-8980-fe3f3bcdfcce.vsidx
cbdc_service/.vs/cbdc_service/FileContentIndex/5913469c-b278-4b88-b975-62ab26bb24a7.vsidx
cbdc_service/.vs/cbdc_service/FileContentIndex/82127c24-4254-4d38-9eef-4100b9c9bf10.vsidx
cbdc_service/.vs/cbdc_service/FileContentIndex/a12430a8-3bfb-4827-927e-c57b2dbdc430.vsidx
cbdc_service/cbdc_service/obj/cbdc_service.csproj.nuget.dgspec.json
cbdc_service/cbdc_service/obj/cbdc_service.csproj.nuget.g.props
cbdc_service/cbdc_service/obj/cbdc_service.csproj.nuget.g.targets
cbdc_service/cbdc_service/obj/Debug/net7.0/cbdc_service.assets.cache
cbdc_service/cbdc_service/obj/Debug/net7.0/cbdc_service.csproj.AssemblyReference.cache
cbdc_service/cbdc_service/obj/Debug/net7.0/cbdc_service.GeneratedMSBuildEditorConfig.editorconfig
cbdc_service/cbdc_service/obj/project.assets.json
cbdc_service/cbdc_service/obj/project.nuget.cache
cbdc_service/cbdc_service/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.cbdc_service.props
cbdc_service/cbdc_service/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.cbdc_service.props
cbdc_service/cbdc_service/obj/Debug/net7.0/cbdc_service.pdb
cbdc_service/cbdc_service/obj/Debug/net7.0/cbdc_service.MvcApplicationPartsAssemblyInfo.cs
cbdc_service/cbdc_service/obj/Debug/net7.0/cbdc_service.genruntimeconfig.cache
cbdc_service/cbdc_service/obj/Debug/net7.0/cbdc_service.dll
cbdc_service/cbdc_service/obj/Debug/net7.0/cbdc_service.csproj.FileListAbsolute.txt
cbdc_service/cbdc_service/obj/Debug/net7.0/cbdc_service.csproj.CoreCompileInputs.cache
cbdc_service/cbdc_service/obj/Debug/net7.0/cbdc_service.csproj.BuildWithSkipAnalyzers
cbdc_service/cbdc_service/cbdc_service.csproj.user
cbdc_service/cbdc_service/bin/Debug/net7.0/cbdc_service.pdb
cbdc_service/cbdc_service/bin/Debug/net7.0/cbdc_service.exe
cbdc_service/cbdc_service/bin/Debug/net7.0/cbdc_service.dll
cbdc_service/.vs/cbdc_service/v17/.suo
cbdc_service/.vs/cbdc_service/FileContentIndex/ee1f4bad-fbd9-4314-9e7d-93cfe8890edf.vsidx
cbdc_service/.vs/cbdc_service/FileContentIndex/e92c6c49-9b2c-4fbe-b5e8-43ba6243730d.vsidx
cbdc_service/.vs/cbdc_service/FileContentIndex/448fb3b1-3cfd-473f-848f-8997b39c7b16.vsidx
cbdc_service/.vs/cbdc_service/FileContentIndex/1eb20c0c-1140-434f-b7ab-adbb3fe79102.vsidx
*.pdb
*.dll
